################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/chessx/v16/Preview/ipch/AutoPCH
/debug
/obj_dbg
/src/generated
/x64
/.vs
